@import url(reset.css);
.clear {
    clear: both;
}
@font-face{
    font-family: Georgia;
    uri(../fonts/georgia.ttf);
}
h1 {
   
    margin:0px;
    padding:  10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}
p{
    margin-bottom: 10px;
}

body {
    font:13px/1.5 "georgia", "times new roman", "times", serif;
    color: #543d27;
    background: #2c261d;
    
} 
#wrepper-img {
    width: 100%;
    background: url(../images/bg-container_aut.jpg) center top no-repeat, url(../images/bg-container_inner.jpg) center bottom no-repeat;  
    padding-bottom: 30px;
}

#conteiner {
    width: 990px;
     margin: 0 auto;
    background-color:;
}
#top-menu{
    position: relative;
    clear: both;
    height: 930px;
    height: 110px;
    padding: 0 30px;
    background: url(../images/menu_bg.png) no-repeat;
    
}
#top-menu ul {
    padding: 12px 0 0 0;
    margin: 0px;
    list-style: none;
}
#top-menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}
#top-menu ul li a{
    float:left;
    display: block;
    width: 99px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight:bold;
    color:#f9efd0; 
    outline: none;
}
#top-menu li a:hover, #top-menu li .current {
	color: #ebc759;
}

#margin_r_330 {
    margin-right: 330px;
}
#site_title {
    position: absolute;
    width: 320px;
    left: 333px;
    top: -5px;
    text-align: center ;      
}


#site_title h1 a {
    font-size: 37px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
  

  
}
#site_title h1 a span {
    display: block;
    margin: 9px;
    padding: 0px;
    font-size: 16px;
    color: #3d2a10;
    
    
}
.baner-top {
    clear: both;
    width: 990px;
    height: 250px;
    background: url(../images/banner_bg.png) center no-repeat;
}
.conteiner {
    float: right;
    width: 400px;
    margin-top: 30px;
    margin-right: 80px;
    text-align: center;
    
}
.conteiner h2{
    color: #eaecd0;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 24px;
}
.conteiner p {
    color: #eeefd4;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
#conteiner_wrapper {
    clear: both;
    width: 930px;
    margin: 0 auto;
    background: url(../images/content_top.jpg) center top no-repeat, url(../images/footer_bg.png) center bottom no-repeat, url(../images/obedik_content_middle.png) center repeat-y;
    overflow: hidden;
    min-height: 500px;
    height: auto;
    padding: 70px 30px;
}

.content {
    margin: 0 auto;
    padding: 15px;
     line-height: 1.6em;
    height: auto;
    
    
}

.content h2 {
    display: block;
    font-size: 24px;
    padding: 0 0 25px 30px;
    margin-bottom: 10px;
    color: #3e2b18;
    background: url(../images/vetka-h2_bg.png) bottom left no-repeat;
}
.img {
    float:right ;
    margin: 10px;
    
}

.conteiner-content {
    padding-left: 30px;          
}
.img2 {
    float: left;
    margin: 15px;
}
.clier{
    clear:both; 
}
  clear: both;

/*----------footer-----*/
  
#footer-wrapper {
    margin:0px auto;
}      
#footer {
    width: 500px; 
    margin: 20px auto 0 auto;
    
}
#footer ul{
    display:table-row;
    width: 100px;
   text-align: center; 
    
}
#footer li{
    display: table-cell;
    width: 100px; 
    height: 20px;
    
}
#footer li a{
    text-decoration: none;
    color: #696052;
    font-size: 17px;
    width:940px;
    height: 20px;
    display: table-cell; 
}
#footer li a:hover{
    text-decoration: underline;
}
#footer-wrapper .www  {
    width:940px;
    margin: 0 auto;
    text-align: center;
    
    
}
.clear {
    clear: both;
/*-----end-footer-------*/



ййй


